// common
*{margin:0;padding:0;}
.num{font-family: Arial,Tahomas;}

// pc
.dm47{
    .module_wrap{
        overflow:hidden
    }  
    .benefit_area{
        margin:50px 0 60px 0;font-size:0;text-align:center;color:#000;
        &:after{display:block;clear:both;content:'';}
        .benefit_bx{
            position:relative;display:inline-block;vertical-align:top;margin:0 63px;
            &:first-child{margin-left:21px;}
        }
        .benefit{
            position:relative;display:inline-block;padding-top:39px;
            .tit{position:absolute;top:0;left:50%;width:230px;margin-left:-115px;font-size:36px;}
            .cont{
                position:relative;display:block;line-height:1;
                .num_wrap{display:block;}
            }
            .num{
                font-size:110px;font-weight:bold;line-height:normal;
                &.min{
                    position:relative;padding-right:8px;
                    &:after{
                        position:absolute;top:50%;right:-1px;margin-top:-21px;content:'~';font-size:50px;
                    }
                }
                &.max{padding-right:3px;}
            }
            .txt_max{float:right;margin-top:19px;font-size:30px;line-height:normal;}
            .percent{position:absolute;right:0;bottom:14px;font-size:58px;}
        }
        .btn_view{
            position:absolute;left:50%;width:160px;margin-top:-10px;margin-left:-80px;font-size:22px;color:#000;
        }
        .plus{
            display:block;position:absolute;top:32px;left:-95px;width:66px;height:66px;
            span{
                background-color:#000;
                &:first-child{
                    position:absolute;display:block;content:'';top:50%;left:0;margin-top:1px;width:100%;height:1px;
                    & + span{position:absolute;display:block;content:'';top:0;left:50%;width:1px;height:100%;margin-left:-1px;}
                }	
            }
        }
        &.triple{
            .benefit_bx{
                margin:0 30px;
                &:first-child{margin-left:-16px;}
            }
            .benefit{
                padding-top:34px;
                .tit{font-size:30px;}
                .num{
                    font-size:86px;
                    &.min{
                        padding-right:6px;
                        &:after{
                            right:0;margin-top:-17px;font-size:42px;
                        }
                    }
                }
                .txt_max{font-size:24px;margin-top:15px;}
                .percent{bottom:10px;right:1px;font-size:46px;}
            }
            .btn_view{margin-top:-8px;}
            .plus{
                top:29px;left:-50px;width:40px;height:40px;
                span{
                    background-color:#000;
                }
            }
        }
    }

    // border-width 적용
    &.new{
        .benefit_area .plus span{
            &:first-child{
                height:0; border-bottom: solid #000; border-width: thin;
                & + span{
                    width:0; border-left: solid #000; border-width: thin;
                }
            }	
        }
    }
}
@media all and (min-width:770px){
    .wrap{min-width:1240px;margin-top:50px;margin: 0 auto;padding-bottom: 80px;zoom: 1;}
    .tpl{width: 770px;margin: 0 auto !important;line-height: 1.5;}
    .module_bx{position: relative;width:100% !important;height:auto !important;margin: 20px 10px 0;letter-spacing: -.25px;text-align: left;zoom: 1;vertical-align: top;}
}

@media all and (max-width:770px){
    .dm47{
        .module_wrap{
            overflow:hidden;
        }
        .benefit_area{
            margin:2.2rem 0 3rem 0;font-size:0;text-align:center;
            &:after{display:block;clear:both;content:'';}
            .benefit_bx{
                position:relative;display:inline-block;vertical-align:top;margin:0 2.9rem;
                &:first-child{
                    margin-left:1.4rem;
                    .cont{padding-left:0;}
                    .tit{padding-left:.2rem;}
                }
                .tit{padding-left:.1rem;}
            }
            .benefit{ 
                display:inline-block;padding-top:2.1rem;
                .tit{position:absolute;top:0;left:50%;width:12rem;margin-left:-6rem;font-size:1.8rem;}
                .cont{ 
                    position:relative;display:block;line-height:1;
                    .num_wrap{position:relative;display:inline-block;}
                }
                .num{
                    position:relative;display:inline-block;font-size:5.6rem;font-weight:bold;letter-spacing:-.4rem;
                    &.min{
                        position:relative;padding-right:2.4rem;
                        &:after{
                            position:absolute;top:50%;right:.5rem;margin-top:-1.3rem;content:'~';font-size:2.5rem;
                        }
                    }
                    &.max{padding-right:.4rem;}
                }
                .txt_max{float:right;margin-top:.6rem;font-size:1.6rem;line-height:1;}
                .percent{position:absolute;right:.3rem;bottom:.5rem;font-size:3rem;}
            }
            .plus{
                display:block;position:absolute;left:-46px;top:20px;width:33px;height:33px;
                span{
                    position:absolute;background-color:#000;
                    &:first-child{
                        top:16px;left:0;
                        & + span{top:0;left:16px;}
                    }
                }
            }
            &.triple{
                .benefit_bx{
                    margin: 0 2rem;
                    &:first-child{margin-left:-.2rem;}
                }
                .benefit{
                    padding-top:1.9rem;
                    .tit{width:10rem;margin-left:-5rem;font-size:1.6rem;}
                    .num{
                        font-size:4.3rem;
                        &.min{
                            padding-right:1.4rem;
                            &:after{
                                right:.2rem;margin-top:-1.2rem;font-size:2rem;
                            }
                        }
                        &.max{
                            letter-spacing:-.45rem;padding-right:.4rem;
                        }
                    }
                    .txt_max{font-size:1.3rem;margin-top:.4rem;}
                    .percent{bottom:.3rem;right:.3rem;font-size:2.3rem;}
                }
                .plus{
                    top:13px;left:-31px;width:21px;height:21px;
                    span{
                        &:first-child{
                            top:10px;
                            & + span{left:10px;}
                        }
                    }
                }
            }
        }
    }
}