* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NanumBarunGothic', 'Malgun Gothic', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.num {
  font-family: Arial,Tahomas;
}

.wrap {
  min-width: 1240px;
  margin-top: 50px;
  margin: 0 auto;
  padding-bottom: 80px;
  zoom: 1;
}

.tpl {
  width: 770px;
  margin: 0 auto !important;
  line-height: 1.5;
  font-size: 12px !important;
}

.module_bx {
  position: relative;
  width: 100% !important;
  height: auto !important;
  margin: 20px 10px 0;
  font-size: 16px;
  letter-spacing: -.25px;
  text-align: left;
  zoom: 1;
  vertical-align: top;
}

.dm47 .module_wrap {
  overflow: hidden;
}

.dm47 .benefit_area {
  margin: 50px 0 60px 0;
  font-size: 0;
  text-align: center;
  color: #000;
}

.dm47 .benefit_area:after {
  display: block;
  clear: both;
  content: '';
}

.dm47 .benefit_area .benefit_bx {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 63px;
}

.dm47 .benefit_area .benefit_bx:first-child {
  margin-left: 21px;
}

.dm47 .benefit_area .benefit {
  position: relative;
  display: inline-block;
  padding-top: 39px;
}

.dm47 .benefit_area .benefit .tit {
  position: absolute;
  top: 0;
  left: 50%;
  width: 230px;
  margin-left: -115px;
  font-size: 36px;
}

.dm47 .benefit_area .benefit .cont {
  position: relative;
  display: block;
  line-height: 1;
}

.dm47 .benefit_area .benefit .cont .num_wrap {
  display: block;
}

.dm47 .benefit_area .benefit .num {
  font-size: 110px;
  font-weight: bold;
  line-height: normal;
}

.dm47 .benefit_area .benefit .num.min {
  position: relative;
  padding-right: 8px;
}

.dm47 .benefit_area .benefit .num.min:after {
  position: absolute;
  top: 50%;
  right: -1px;
  margin-top: -21px;
  content: '~';
  font-size: 50px;
}

.dm47 .benefit_area .benefit .num.max {
  padding-right: 3px;
}

.dm47 .benefit_area .benefit .txt_max {
  float: right;
  margin-top: 19px;
  font-size: 30px;
  line-height: normal;
}

.dm47 .benefit_area .benefit .percent {
  position: absolute;
  right: 0;
  bottom: 14px;
  font-size: 58px;
}

.dm47 .benefit_area .btn_view {
  position: absolute;
  left: 50%;
  width: 160px;
  margin-top: -10px;
  margin-left: -80px;
  font-size: 22px;
  color: #000;
}

.dm47 .benefit_area .plus {
  display: block;
  position: absolute;
  top: 32px;
  left: -95px;
  width: 66px;
  height: 66px;
}

.dm47 .benefit_area .plus span {
  background-color: #000;
}

.dm47 .benefit_area .plus span:first-child {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 0;
  margin-top: 1px;
  width: 66px;
  height: 1px;
}

.dm47 .benefit_area .plus span:first-child + span {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  width: 1px;
  height: 66px;
  margin-left: -1px;
}

.dm47 .benefit_area.triple .benefit_bx {
  margin: 0 30px;
}

.dm47 .benefit_area.triple .benefit_bx:first-child {
  margin-left: -16px;
}

.dm47 .benefit_area.triple .benefit {
  padding-top: 34px;
}

.dm47 .benefit_area.triple .benefit .tit {
  font-size: 30px;
}

.dm47 .benefit_area.triple .benefit .num {
  font-size: 86px;
}

.dm47 .benefit_area.triple .benefit .num.min {
  padding-right: 6px;
}

.dm47 .benefit_area.triple .benefit .num.min:after {
  right: 0;
  margin-top: -17px;
  font-size: 42px;
}

.dm47 .benefit_area.triple .benefit .txt_max {
  font-size: 24px;
  margin-top: 15px;
}

.dm47 .benefit_area.triple .benefit .percent {
  bottom: 10px;
  right: 1px;
  font-size: 46px;
}

.dm47 .benefit_area.triple .btn_view {
  margin-top: -8px;
}

.dm47 .benefit_area.triple .plus {
  top: 29px;
  left: -50px;
  width: 40px;
  height: 40px;
}

.dm47 .benefit_area.triple .plus span {
  background-color: #000;
}

.dm47 .benefit_area.triple .plus span:first-child {
  width: 40px;
}

.dm47 .benefit_area.triple .plus span:first-child + span {
  height: 40px;
}

.mobile .dm47 .module_wrap {
  overflow: hidden;
}

.mobile .dm47 .benefit_area {
  margin: 2.2rem 0 3rem 0;
  font-size: 0;
  text-align: center;
}

.mobile .dm47 .benefit_area:after {
  display: block;
  clear: both;
  content: '';
}

.mobile .dm47 .benefit_area .benefit_bx {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 2.9rem;
}

.mobile .dm47 .benefit_area .benefit_bx:first-child {
  margin-left: 1.4rem;
}

.mobile .dm47 .benefit_area .benefit_bx:first-child .cont {
  padding-left: 0;
}

.mobile .dm47 .benefit_area .benefit_bx:first-child .tit {
  padding-left: .2rem;
}

.mobile .dm47 .benefit_area .benefit_bx .tit {
  padding-left: .1rem;
}

.mobile .dm47 .benefit_area .benefit {
  display: inline-block;
  padding-top: 2.1rem;
}

.mobile .dm47 .benefit_area .benefit .tit {
  position: absolute;
  top: 0;
  left: 50%;
  width: 12rem;
  margin-left: -6rem;
  font-size: 1.8rem;
}

.mobile .dm47 .benefit_area .benefit .cont {
  position: relative;
  display: block;
  line-height: 1;
}

.mobile .dm47 .benefit_area .benefit .cont .num_wrap {
  position: relative;
  display: inline-block;
}

.mobile .dm47 .benefit_area .benefit .num {
  position: relative;
  display: inline-block;
  font-size: 5.6rem;
  font-weight: bold;
  letter-spacing: -.4rem;
}

.mobile .dm47 .benefit_area .benefit .num.min {
  position: relative;
  padding-right: 2.4rem;
}

.mobile .dm47 .benefit_area .benefit .num.min:after {
  position: absolute;
  top: 50%;
  right: .5rem;
  margin-top: -1.3rem;
  content: '~';
  font-size: 2.5rem;
}

.mobile .dm47 .benefit_area .benefit .num.max {
  padding-right: .4rem;
}

.mobile .dm47 .benefit_area .benefit .txt_max {
  float: right;
  margin-top: .6rem;
  font-size: 1.6rem;
  line-height: 1;
}

.mobile .dm47 .benefit_area .benefit .percent {
  position: absolute;
  right: .3rem;
  bottom: .5rem;
  font-size: 3rem;
}

.mobile .dm47 .benefit_area .plus {
  display: block;
  position: absolute;
  left: -46px;
  top: 50%;
  width: 33px;
  height: 33px;
  margin-top: -16px;
}

.mobile .dm47 .benefit_area .plus span {
  position: absolute;
  background-color: #000;
}

.mobile .dm47 .benefit_area .plus span:first-child {
  top: 16px;
  left: 0;
  width: 100%;
  height: 1px;
}

.mobile .dm47 .benefit_area .plus span:first-child + span {
  top: 0;
  left: 16px;
  width: 1px;
  height: 100%;
}

.mobile .dm47 .benefit_area.triple .benefit_bx {
  margin: 0 2rem;
}

.mobile .dm47 .benefit_area.triple .benefit_bx:first-child {
  margin-left: -.2rem;
}

.mobile .dm47 .benefit_area.triple .benefit {
  padding-top: 1.9rem;
}

.mobile .dm47 .benefit_area.triple .benefit .tit {
  width: 10rem;
  margin-left: -5rem;
  font-size: 1.6rem;
}

.mobile .dm47 .benefit_area.triple .benefit .num {
  font-size: 4.3rem;
}

.mobile .dm47 .benefit_area.triple .benefit .num.min {
  padding-right: 1.4rem;
}

.mobile .dm47 .benefit_area.triple .benefit .num.min:after {
  right: .2rem;
  margin-top: -1.2rem;
  font-size: 2rem;
}

.mobile .dm47 .benefit_area.triple .benefit .num.max {
  letter-spacing: -.45rem;
  padding-right: .4rem;
}

.mobile .dm47 .benefit_area.triple .benefit .txt_max {
  font-size: 1.3rem;
  margin-top: .4rem;
}

.mobile .dm47 .benefit_area.triple .benefit .percent {
  bottom: .3rem;
  right: .3rem;
  font-size: 2.3rem;
}

.mobile .dm47 .benefit_area.triple .plus {
  left: -31px;
  width: 21px;
  height: 21px;
  margin-top: -12px;
}

.mobile .dm47 .benefit_area.triple .plus span:first-child {
  top: 10px;
}

.mobile .dm47 .benefit_area.triple .plus span:first-child + span {
  left: 10px;
}
/*# sourceMappingURL=style.css.map */